#Titel {
  color: white;
  text-align: center;
  font-family: Helvetica
}

#menu {
  color: white;
  text-align: center;
  font-family: Helvetica
  
}

body {
  min-height: 100vh;
  display: flex;
    flex-direction: column;
  background-color: black;
  background-image: url("pexels-brett-sayles-2881229.jpg");
}

footer {
margin-top: auto;
  
}
